@import url(https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap);
* {
    padding: 0;
    margin: 0;
}

body {
    z-index: -10;
}

.fundo {
    background-color: rgb(43, 230, 230);
    background-image: url(imagens/plano2.png);
    background-position: central;
    background-size: cover;
    height: 976px;
    width: 100%;

    filter: blur(0px);
    position: relative;

    z-index: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.ficha {
    display: block;
    position: absolute;
    margin-left: 1500px;
}

.titulo {
    height: 390px;
    width: 430px;
    background-image: url(imagens/logo.png);
    background-position: center;
    background-size: cover;


    margin-top: 50px;

}

.titulo2 {
    height: 270px;
    width: 350px;
    background-image: url(imagens/logo.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.box {
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.834);

    height: 680px;
    width: 700px;
    margin-top: 200px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}

.botao {
    height: 120px;
    width: 400px;
    background-image: url(imagens/BOTAO.png);
    background-position: center;
    background-size: cover;
    margin-top: 90px;


    font-size: 28px;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 700;

    z-index: 20;
    transition: 0.3s;
    position: absolute;
}

.botao:hover {
    transform: scale(1.10)
}

.box_menor {
    background-color: rgba(255, 255, 255, 0.834);
    border-radius: 20px;
    height: 80px;
    width: 600px;
    margin-top: 20px;
    transition: 0.3s;

    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 70px;

}

.box_menor:hover {
    transform: scale(1.10)
}



.cavalo {
    border-radius: 100px;
    background-color: white;

    height: 70px;
    width: 70px;

    margin: 5px;
    margin-left: 10px;

    background-position: center;
    background-size: 210px 150px;
}

p {
    font-size: 25px;
    margin-left: 15px;
}

.box_menor input {
    margin-left: 470px;
    width: 170px;
    height: 40px;

    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    margin-top: 10px;
}

.valor {
    margin-left: 0px;
    width: 170px;
    height: 40px;

    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    margin-top: 550px;

}

.box_menor input:checked {
    background-color: rgb(0, 38, 255);
}

.result {
    display: none;
    font-size: 20px;
    height: 450px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.834);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    margin-top: 90px;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
}

.aposta {
    width: 180px;
    height: 80px;

    position: absolute;
    margin-top: 610px;
    margin-left: 0px;

    transition: 0.3s;

    border: none;
    background-color: rgba(240, 248, 255, 0);
    background-image: url(imagens/apostar.png);
    background-position: center;
    background-size: cover;
}

.aposta:hover {
    transform: scale(1.10);
}

.dados_da_corrida {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin-top: 70px;
}

.dados_da_corrida input {
    width: 40px;
    margin-left: 30px;
    height: 20px;
    font-size: 17px;
}

.dados_da_corrida p {
    font-size: 28px;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.card{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 50px;
    align-items: center;
    display: flex;
    border-radius: 10px;

}

.btn-avancar {
    height: 50px;
    width: 400px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
}
.btn-avancar:hover {
transform
}

.divEscolherCavalo h3{
    color: white;
}

.divEscolherCavalo input {
    border: 2px solid;
    margin-left: 250px;
    margin-bottom: 10px;
    height: 40px;
}

.divEscolherCavalo button {
    width: 80px;
    height: 40px;
    margin-left: 250px;
    border: 2px solid;
    border-radius: 20px;

}

.divEscolherCavalo p {
    color: black;
    font-size: 20px;
}

